<?php include_once "common/header.html"; ?>
<li>Новости<span></span></li></ul>
        <div id="right">
            <div id="content">
                <h1>Новости</h1><div class="wysiwyg "><p style="text-align: justify;">

<p style="text-align: justify;"><br />
<noindex></noindex><span style="color:#0000FF;"><span style="font-size:26px;">Новости соляных пещер Galoroom во Владивостоке</span></span></p>

<p style="text-align: justify;"><span style="font-size: 14px;"><span style="font-family: arial,helvetica,sans-serif;">&nbsp;</span></span></p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: justify;">&nbsp;</p>
</div>          </div>
        </div>
    </div>
        <div id="footer-cleaner"></div>
</div>
<?php include_once "common/footer.html"; ?>