<?php include_once "common/header.html"; ?>
<li>Соляная пещера Galoroom<span></span></li></ul>      
        <div id="right">
            <div id="content">
                <h1>Соляная Пещера Galoroom</h1><div class="wysiwyg "><p style="text-align: justify;"><span style="font-family: times new roman,times,serif;"><strong><span style="font-size: 16px;"><img alt="" class="img_left" src="http://const.solinepro.ru/galoroom//upload/user/shena proezda/galokamera/13%D0%B8%D0%BD%D1%82.jpg" style="width: 240px; height: 300px;" />&nbsp;</span></strong></span> ЗАО &quot;Санкт-Петербургский институт профилактической медицины&quot; создано более 5000 галокамер и накоплен уникальный научно-исследовательский и производственный опыт, в т.ч. соляная пещера Galoroom, в которой воссоздан уникальный микроклимат природной пещеры,&nbsp; позволяющий в&nbsp; полной мере воспроизводить выраженный оздоровительный эффект подземных соляных лечебниц.</p>

<p style="text-align: justify;">&nbsp;Наша соляная пещера создана на основе &laquo;Квантово-Энергетической Галокамеры П.П. Горбенко&raquo;, представляющей собой оздоровительное помещение со стенами, покрытыми специальным многослойным солевым покрытием, оснащенное аэрогалитгенератором 3-го поколения, системой вентиляции.</p>

<p style="text-align: justify;">&nbsp;Аэрогалитгенератор &laquo;АГГ&ndash;03&raquo; эффективно продуцирует высокодисперсный ионизированный аэрозоль хлорида натрия благодаря модернизированной системе &laquo;Кипящий слой&raquo;. Именно такой ионизированный аэрозоль обладает выраженным оздоровительным эффектом, в отличие от просто распыленной, предварительно измельченной соли.<span style="font-family: arial,helvetica,sans-serif;"><strong><span style="font-size: 16px;"><img alt="" class="img_right" src="http://const.solinepro.ru/galoroom//upload/user/shena proezda/galokamera/IMG_7538%D0%B8%D0%BD%D1%82.jpg" style="width: 300px; height: 200px; margin-top: 25px; margin-bottom: 25px;" /></span></strong></span></p>

<p style="text-align: justify;">&nbsp; Дизайн пещеры, а также цветовые и световые решения выполнены с учетом наиболееблагоприятного воздействия на организм человека с целью восстановления его нормальной жизнедеятельности&nbsp; (цветотерапия).</p>

<h3 style="text-align: justify;">&nbsp;Пещера оснащена:</h3>

<ul>
    <li style="text-align: justify;">акустической системой Dolby4.1(Наличие CD/МР3, тюнер-FM), что позволяет в отличном качестве слушать приятную музыка для релаксации (звуки леса, шум моря), расслабиться и отдохнуть.</li>
    <li style="text-align: justify;">Релаксационными креслами повышенной комфортности</li>
</ul>

<p style="text-align: justify;">&nbsp;<span style="font-family: arial,helvetica,sans-serif;"><strong><span style="font-size: 16px;"><img alt="" class="img_left" src="http://const.solinepro.ru/galoroom//upload/user/shena proezda/galokamera/%D1%81%D0%B2%D0%B5%D1%82%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%20%D0%B8%D0%BD%D1%82.jpg" style="width: 198px; height: 300px;" /></span></strong></span> Также в пещере установлен светильник &laquo;Энергетический кристалл&raquo;. Светильник &laquo;Энергетический кристалл&raquo; сделан из цельной глыбы каменной соли и предназначен для декоративного освещения помещений с лечебно-профилактическим эффектом.&nbsp; Во время работы светильника происходит нагрев кристаллов соли, который сопровождается диффузией микрочастиц в воздух с образованием отрицательно заряженного молекулярного аэрозоля хлорида натрия. Число отрицательных аэроионов в помещении возрастает в десятки раз.</p>

<p style="text-align: justify;">В помещении, где установлен светильник &laquo;Энергетический кристалл&raquo; воздух становится по своим характеристикам схожим с низкогорным климатом &ndash; наиболее благоприятным для организма человека.</p>

<p style="text-align: justify;">&nbsp;Фактически соляной светильник является мини-галогенератором. Высокодисперсный аэрозоль хлорида натрия и отрицательные аэроионы оказывают выраженное очищающее от пыли и микроорганизмов воздействие и обладают антибактериальным и противовирусным эффектом. При этом оказывается общеукрепляющее влияние на весь организм, снимается усталость и раздражительность, улучшается качество сна. Воздействуя на дыхательную систему, ионизированный воздух оказывает профилактическое действие, а также обладает здоровительным эффектом при бронхитах, астме, аллергических, кожных и других заболеваниях.</p>

<p style="text-align: justify;"><strong style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 16px;"><img alt="" class="img_right" src="http://const.solinepro.ru/galoroom//upload/user/shena proezda/galokamera/11%D0%B8%D0%BD%D1%82.jpg" style="width: 202px; height: 300px;" /></span></strong>В соляной пещере Вы можете попробовать кислородный коктейль, основными показаниями для употребления которого, являются: гипоксия, сниженный иммунитет, простудные заболевания, бронхит, гипертония, бессонница, синдром хронической усталости, лишний вес.</p>

<p>Часы работы соляной пещеры с 9:00 до 21:00, сеанс начинается каждый час, последний сеанс начинается в 20:00.</p>
<p>Продолжительность сеанса 40 минут.</p>
<p>Телефоны для записи на сеанс: +7(950)287-38-22, 8(423)291-99-28.</p>
<p>Адрес: Владивосток, улица Станюковича, 49.</p>

<!-- <h3 style="text-align: justify;"><span style="color:#0000FF;">Новости от Galoroom:</span></h3> -->
</div><div class="module news">
                    <table class="item">
                        <tr>
                            <td class="img"><noindex><div class="pad"><a style="background: url(http://const.solinepro.ru/galoroom/upload/images/606e9b741d581682a90dc93d349b3980.jpg) no-repeat;" href="/solianaya-peshera-galoroom/i/otkritie-kabineta-manikyura-i-pedikyura/" class="img"></a></div></noindex></td>
                            <td>
                                <h3><span>31.10.16</span><a href="/solianaya-peshera-galoroom/i/otkritie-kabineta-manikyura-i-pedikyura/">Открытие кабинета маникюра и педикюра</a></h3>
                                <p>В соляной пещере Galoroom на ул. Композиторов, дом 18, ЖК &quot;Прагма Хаус&quot; открылся кабинет маникюра и педикюра. <br />
Скидка 50 % на первый маникюр и/или педикюр с любым покрытием для посетителей галокамеры!</p>
                                <noindex><a href="/solianaya-peshera-galoroom/i/otkritie-kabineta-manikyura-i-pedikyura/">Подробнее...</a></noindex>
                            </td>
                        </tr>
                    </table>
                
                    <table class="item">
                        <tr>
                            <td class="img"><noindex><div class="pad"><a style="background: url(http://const.solinepro.ru/galoroom/upload/images/8c59ceb931a865daa4a4870742aeacd7.jpg) no-repeat;" href="/solianaya-peshera-galoroom/i/detskoe-kafe-galoroom/" class="img"></a></div></noindex></td>
                            <td>
                                <h3><span>13.09.16</span><a href="/solianaya-peshera-galoroom/i/detskoe-kafe-galoroom/">Детское кафе Galoroom</a></h3>
                                <p>Рады сообщить, что в соляной пещере Galoroom на Киевской улице, дом 3 (ЖК «Империал») открылось детское кафе.<br />
<br />
 Кафе Galoroom находится у метро Фрунзенская во дворе элитного жилого комплекса «Империал», работает ежедневно с 11:00 до 21:00.</p>
                                <noindex><a href="/solianaya-peshera-galoroom/i/detskoe-kafe-galoroom/">Подробнее...</a></noindex>
                            </td>
                        </tr>
                    </table>
                
                    <table class="item">
                        <tr>
                            <td class="img"><noindex><div class="pad"><a style="background: url(http://const.solinepro.ru/galoroom/upload/images/07fb00b945823c1ce63bc6abdc3ae05a.jpg) no-repeat;" href="/solianaya-peshera-galoroom/i/galokamera-na-kievskoy-3-rabotaet-v-obichnom-rezhime/" class="img"></a></div></noindex></td>
                            <td>
                                <h3><span>22.08.16</span><a href="/solianaya-peshera-galoroom/i/galokamera-na-kievskoy-3-rabotaet-v-obichnom-rezhime/">Галокамера на Киевской, 3 работает в обычном режиме!</a></h3>
                                <p>Дорогие друзья!<br />
С 23 августа соляная пешера Galoroom в Московском районе на улице Киевская, дом 3 работает в обычном режиме без выходных с 11:00 до 21:00.<br />
Так же работает массажный кабинет! Записывайтесь! Ждем Вас!</p>
                                <noindex><a href="/solianaya-peshera-galoroom/i/galokamera-na-kievskoy-3-rabotaet-v-obichnom-rezhime/">Подробнее...</a></noindex>
                            </td>
                        </tr>
                    </table>
                
                    <table class="item">
                        <tr>
                            <td class="img"><noindex><div class="pad"><a style="background: url(http://const.solinepro.ru/galoroom/upload/images/ba78e8f5283bac279f4a8b8ba8956bd7.jpg) no-repeat;" href="/solianaya-peshera-galoroom/i/aktsiya-3-poseshcheniya-v-podarok/" class="img"></a></div></noindex></td>
                            <td>
                                <h3><span>28.07.16</span><a href="/solianaya-peshera-galoroom/i/aktsiya-3-poseshcheniya-v-podarok/">Акция! 3 посещения в подарок!</a></h3>
                                <p>Акция!<br />
3 бесплатных посещения за рекомендацию своим друзьям и знакомым! <br />
Абонемент на 3 посещения Вы можете использовать в любое время и в любые дни, когда Вам удобно. Абонемент на 3 посещения дает право посещения соляной пещеры, как для одного взрослого, так и для 1 взрослого и 2 детей. Абонемент бессрочный!</p>
                                <noindex><a href="/solianaya-peshera-galoroom/i/aktsiya-3-poseshcheniya-v-podarok/">Подробнее...</a></noindex>
                            </td>
                        </tr>
                    </table>
                
                    <table class="item">
                        <tr>
                            
                            <td>
                                <h3><span>20.03.16</span><a href="/solianaya-peshera-galoroom/i/aktsiya-lyuboy-massa---1200-rubley---1-chas/">Акция! Любой массаж - 1200 рублей - 1 час</a></h3>
                                <p>Скидка на массаж! Любой вид массажа (общий, лечебный, антицеллюлитный, спортивный) - 1200 рублей - 1 час!</p>
                                <noindex><a href="/solianaya-peshera-galoroom/i/aktsiya-lyuboy-massa---1200-rubley---1-chas/">Подробнее...</a></noindex>
                            </td>
                        </tr>
                    </table>
                
                    <table class="item">
                        <tr>
                            <td class="img"><noindex><div class="pad"><a style="background: url(http://const.solinepro.ru/galoroom/upload/images/6a78465bf304c7d431e2a053021a0769.jpg) no-repeat;" href="/solianaya-peshera-galoroom/i/franshiza-solyanoy-peshcheri-galoroom---besplatno/" class="img"></a></div></noindex></td>
                            <td>
                                <h3><span>09.03.16</span><a href="/solianaya-peshera-galoroom/i/franshiza-solyanoy-peshcheri-galoroom---besplatno/">Франшиза соляной пещеры Galoroom - БЕСПЛАТНО!</a></h3>
                                <p>Условия вхождения в сеть GALOROOM:<br />
<br />
При условии преобретения галокомплекса “Люкс”, “Третье поколение” и “Премиум” франшиза Galoroom предоставляется бесплатно на весь период работы галокомплекса.<br />
Франшиза Galoroom предоставляется только при условии, что галокомплекс был создан специалистами Санкт-Петербургского института профилактической медицины.<br />
Для галокомплексов «Стандарт» франшиза Galoroom предоставляется на платной основе из расчета: 12 месяцев/50 000 рублей.</p>
                                <noindex><a href="/solianaya-peshera-galoroom/i/franshiza-solyanoy-peshcheri-galoroom---besplatno/">Подробнее...</a></noindex>
                            </td>
                        </tr>
                    </table>
                
                    <table class="item">
                        <tr>
                            <td class="img"><noindex><div class="pad"><a style="background: url(http://const.solinepro.ru/galoroom/upload/images/67864219abb075b13336944ae7a031e0.jpg) no-repeat;" href="/solianaya-peshera-galoroom/i/rabota-v-dni-prazdnikov/" class="img"></a></div></noindex></td>
                            <td>
                                <h3><span>04.03.16</span><a href="/solianaya-peshera-galoroom/i/rabota-v-dni-prazdnikov/">Работа в дни праздников!</a></h3>
                                <p>Дорогие друзья! Все праздничные дни соляные пещеры Galoroom работают для Вас в обычном режиме с 10:00 до 21:00 без обеда и выходных!) И напоминаем о нашей акции - скидка 50% на абонементы! Ждем Вас!</p>
                                <noindex><a href="/solianaya-peshera-galoroom/i/rabota-v-dni-prazdnikov/">Подробнее...</a></noindex>
                            </td>
                        </tr>
                    </table>
                
                    <table class="item">
                        <tr>
                            
                            <td>
                                <h3><span>11.02.16</span><a href="/solianaya-peshera-galoroom/i/skidka-na-abonementi-v-chest-prazdnikov/">Скидка на абонементы в честь праздников!</a></h3>
                                <p>В честь Дня всех Влюбленных, 23 февраля и 8 марта - скидка на абонементы 50% !!!</p>
                                <noindex><a href="/solianaya-peshera-galoroom/i/skidka-na-abonementi-v-chest-prazdnikov/">Подробнее...</a></noindex>
                            </td>
                        </tr>
                    </table>
                
                    <table class="item">
                        <tr>
                            <td class="img"><noindex><div class="pad"><a style="background: url(http://const.solinepro.ru/galoroom/upload/images/839d9e2c1d63b122723ee25639fe1d50.jpg) no-repeat;" href="/solianaya-peshera-galoroom/i/pervoe-poseshchenie-solyanoy-komnati-galoroom-besplatno/" class="img"></a></div></noindex></td>
                            <td>
                                <h3><span>09.02.16</span><a href="/solianaya-peshera-galoroom/i/pervoe-poseshchenie-solyanoy-komnati-galoroom-besplatno/">Первое посещение соляной комнаты Galoroom бесплатно!</a></h3>
                                <p>Дорогие друзья!<br />
Первое посещение галокамер сети Galoroom бесплатно! Каждый желающий может прийти на бесплатный пробный сеанс галотерапии.</p>
                                <noindex><a href="/solianaya-peshera-galoroom/i/pervoe-poseshchenie-solyanoy-komnati-galoroom-besplatno/">Подробнее...</a></noindex>
                            </td>
                        </tr>
                    </table>
                
                    <table class="item">
                        <tr>
                            <td class="img"><noindex><div class="pad"><a style="background: url(http://const.solinepro.ru/galoroom/upload/images/9bc6ea4e38547a80d5054264f5851121.jpg) no-repeat;" href="/solianaya-peshera-galoroom/i/gruppovie-seansi-v-solyanuyu-peshcheru-vsego-za-100-rubley-s-cheloveka/" class="img"></a></div></noindex></td>
                            <td>
                                <h3><span>01.02.16</span><a href="/solianaya-peshera-galoroom/i/gruppovie-seansi-v-solyanuyu-peshcheru-vsego-za-100-rubley-s-cheloveka/">Групповые сеансы в соляную пещеру всего за 100 рублей с человека!</a></h3>
                                <p>Групповые сеансы в соляную пещеру всего за 100 рублей с человека!<br />
Условия акции:<br />
Собирается группа не более 10 человек и арендуется вся соляная комната на целый сеанс, продолжительность сеанса 40 минут!<br />
Стоимость аренды соляной пещеры на один сеанс, составляет 1000 руб.</p>
                                <noindex><a href="/solianaya-peshera-galoroom/i/gruppovie-seansi-v-solyanuyu-peshcheru-vsego-za-100-rubley-s-cheloveka/">Подробнее...</a></noindex>
                            </td>
                        </tr>
                    </table>
                </div><div class="module pager"><ul><li><span>Страницы:</span></li><li class="current">1</li><li><a href="/solianaya-peshera-galoroom/?from=1">2</a><li><a href="/solianaya-peshera-galoroom/?from=2">3</a><li><a href="/solianaya-peshera-galoroom/?from=3">4</a><li><a href="/solianaya-peshera-galoroom/?from=4">5</a></ul></div>            </div>
        </div>
    </div>
        <div id="footer-cleaner"></div>
</div>
<?php include_once "common/footer.html"; ?>