<div id="footer">
    <div class="inner">
    <div class="top_footer">
        <h3>Контактная информация:</h3>
        <div class="descr">
            <p>Владивосток, улица Станюковича, 49</p>
        </div>
        <div class="phone">
<p>+7(950)287-38-22, 8(423)291-99-28</p><p>e-mail: <a href="mailto:galoroom-dv@mail.ru">galoroom-dv@mail.ru</a></p>      </div>
    </div>
    <div class="bottom_footer">
        <div class="copy">
            <table>
                <tr>
                    <td>&copy; 2013 – <?php echo date("Y"); ?></td>
                    <td>Галокомплекс 
Соляная Пещера
Galoroom</td>
                </tr>
            </table>
        </div>
    </div>
</div></div>
</body>
</html>